@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);
@import url(https://fonts.googleapis.com/css?family=Lobster:regular);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  padding: 0 0;
  margin: 0 0;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}
  
::-webkit-scrollbar-thumb {
    background-color:black;
    border-radius: 15px;
}
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: antiquewhite;
}

.navbar{
  width: auto;
  height: 10vh;
  padding: 0px 100px;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid whitesmoke;
}
.navbar a{
  margin: 20px;
  padding: 0px;
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  position: relative;
}

.navbar a:hover{
  color: #ffc300;
}

.link{
  float: right;
}
.logo{
  float: left;
}
.music{
  float: right;
  margin-top: 10px;
}

.music button{
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    border-radius: 25px;
    border: none;
    color: whitesmoke;
    padding: 10px 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.music button:hover{
  color: #ffc300;
}

#music span{
    color: green;
}

#music i{
    color: red;
    text-decoration: none;
}


.slide1{
  background-color:black;
    height: 90vh;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: 2vw 64vw 31.5vw 2.5vw;
    grid-template-rows: 100%;
    margin-bottom: 2vh;
}

.left1{
  margin-left: 150px;
  margin-top: 100px;
  grid-column: 2;
  grid-row: 1;
}

.right1{
  grid-column: 3;
  grid-row: 1;
}

.right1 img{
    height: 50%;
    width: auto;
    margin-top: 12vh;
}

.left1 h3{
  color: #fff;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 0;
  margin: 0 0;
}

.wrapper {
    display: inline-flex;
    gap: 20px;
    font-family: "Montserrat", sans-serif;

}
.wrapper .static-txt {
    color: #fff;
    font-size: 60px;
}
.wrapper .dynamic-txts {
    font-family: "Rubik", sans-serif;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    transform: translateY(10%);
}
.mm{
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 0;
    margin: 2vh 0;
}
.dynamic-txts li {
    color: #ffd60a;
    list-style: none;
    font-size: 60px;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}
  @keyframes slide {
    100% {
      top: -280px;
    }
  }
  .dynamic-txts li span {
    position: relative;
  }
  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 98%;
    width: 98%;
    background:black;
    border-left: 2px solid whitesmoke;
    animation: typing 2s steps(10) infinite;
  }
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }

.boutton{
  margin: 2vh 0;
  display: inline-flex;
  gap: 3vw;
}

.Call{
  padding: 15px;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  background-color: whitesmoke;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.CV{
  padding: 15px;
  border-radius: 20px;
  background-color: whitesmoke;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: inline-flex;
  text-decoration: none;
}
.CV span{
  padding-right: 5px;
}

.scrolld span{
    color: whitesmoke;
    transform: translateX(15%);
}
.scrolld{
    margin-top: 69vh; 
    grid-column: 1;
    grid-row: 1;
}

.scrolld div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrolld h4{
    color: whitesmoke;
    writing-mode: vertical-lr;
    padding: 0 0;
    margin: 0 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    transform: translateX(30%) translateY(30%);
    animation: bounce 0.8s infinite;

}

.scrolldo span{
    color: whitesmoke;
    transform: translateX(20%);
}
.scrolldo{
  margin-top: 69vh; 
  grid-column: 4;
  grid-row: 1;
}

.scrolldo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrolldo h4{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
    color: whitesmoke;
    writing-mode: vertical-lr;
    padding: 0 0;
    margin: 0 0;
    transform:translateY(-15%);
    animation: bounce 0.8s infinite;

}

@keyframes bounce {
    0%{
        transform: translateY(0%) translateX(30%);
        
        
    }
    50%{
        transform: translateY(-30%) translateX(30%);
        
        
    }
    100%{
        transform: translateY(0%) translateX(30%);
        
    }
}


.t{
    margin-left: 40px;
}

.t button{
    border: none;
    background-color:black;
    color: #ffd60a;
    font-size: 8vh;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

#c{
    padding: 10px 10px;
}

.a{
    animation: topg 0.8s forwards;
}
.b{
    animation: topg 1s forwards;
}
.c{
    animation: topg 1.2s forwards;
}
.d{
    animation: topg 1.4s forwards;
}
.e{
    animation: topg 1.6s forwards;
}
.f{
    animation: topg 1.8s forwards;
}
.g{
    animation: topg 2s forwards;
}
.h{
    animation: topg 2.1s forwards;
}
.i{
    animation: topg 2.2s forwards;
}
.j{
    animation: topg 2.3s forwards;
}
.k{
    animation: topg 2.4s forwards;
}
.l{
    animation: topg 2.5s forwards;
}

@keyframes topg {
    0%{
        transform: translateY(-200%);
        z-index: 0;
        opacity: 0;
    }
    60%{
        opacity: 0.3;
    }
    80%{
        transform: translateY(0%);
        opacity: 0.6;
    }
    90%{
        transform: translateY(-20%);
        opacity: 1;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
        z-index: 1;
    } 
}

#Portfolio{
    background-color:black;
    width: 100%;
    height: 100vh;
    padding: 3vh 0;
}

#Portfolio h4{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: whitesmoke;
    margin: 15px 40px;
}

.marquee--inner{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3vw;
    margin: 1vw;
}

.image {
    background-color: white;
    width: 24vw;
    height: auto;
    transition: 0.6s;
    overflow: hidden;

}
  
.image:hover{
      transform: scale(1.05);
      cursor: pointer;
      border-radius: 20px;
}

.slide-out-right {
    animation: slide-out-right 1.5s forwards;
  }

.slide-out {
    animation: slide-out 1s forwards;
  }
  
  @keyframes slide-out {
    0% {
      transform: translateY(60%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }

  }

  @keyframes slide-out-right {

    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .slide-right1 {
    animation: slide-right1 2s forwards;
  }
  
  @keyframes slide-right1 {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .slide-right2 {
    animation: slide-right2 2.5s forwards;
  }
  
  @keyframes slide-right2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .slide-left1 {
    animation: slide-left1 2s forwards;
  }
  
  @keyframes slide-left1 {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  .slide-left2 {
    animation: slide-left2 2.5s forwards;
  }
  
  @keyframes slide-left2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

#presentation{
  background-color:black;
  height: 50vh;
  width: 100%;
  margin-top: 10vh;
}
  
.title2{
    font-family: "Poppins", sans-serif;
    font-size: 8vh;
    font-weight:700;
    color: #ffd60a;
    margin: 0 40px;
}

#moi h4{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: whitesmoke;
    margin: 10px 30px;
}

.r{
    font-family: "Indie Flower", sans-serif;
    font-size: 4vh;
    color:#ffc300;
    text-decoration: none;
    margin: 0 40px;
}

#contact{
  width: 100%;
  height: 80vh;
  background-color:black;
  margin-top: 2vh;
}

.writing{
  display: flex;
  flex-direction: column;
}

.submit{
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100%;
}

#contact form{
  display: flex;
  flex-direction: column;
  border-right: 2px solid whitesmoke;
  margin: 20px 10px;
  grid-column: 1;
  grid-row: 1;
}

#contact h2{
  font-family: "Poppins", sans-serif;
  font-size: 8vh;
  color: #ffd60a;
  position: relative;
  margin: 0px 40px;
}

#contact h4{
  color: whitesmoke;
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  position: relative;
  margin: 0px 20px;
}

#contact div input{
  padding: 13px 10px;
  margin: 0px 10px;
  width: 23vw;
  height: 5vh;
  border-radius: 10px;
  font-size: 3vh;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: black;
}

#contact button{
  margin: 0px 10px;
  padding: 13px 10px;
  width: 20vw;
  height: 8vh;
  border-radius: 10px;
  font-size: 3vh;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: black;

}

#contact textarea{
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 20px 10px;
  font-size: 3vh;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: black;
}


form div{
  display: flex;
  flex-direction: row;
}